# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Database (PostgreSQL/Postgis)
# Biasanya tidak ada file lokal, tapi jika ada dump:
*.sql
*.dump

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db